*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    background-attachment: fixed;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.logo_text{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
}
.container-fluid{
    background: none;
}
/* .list-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
} */
.navbar-brand{
    color: #fff;
}
.navbar-nav a{
    color: #fff;
    font-size: 1.2rem;
}
.head_nav{
    align-content: center;
    margin-right: 15px;
}
.navbar-nav a:hover{
    color: rgb(255, 0, 0);
}
.submenu{
    display: block;
    background-color: #000;
    color: #fff;
    border: solid 2px ;
    position: absolute;
    visibility: hidden;
  }
  .down:hover>.submenu{
    visibility: visible;
    background-color: #000;
    color: #fff;
    border: solid 2px #fff;
  }
 .main_links{
    margin-top: 40px;
 }
 .table{
    margin-top: 20px;
 }
 .A h1{
    color: #fff;
 }
.main-form{
    background-color: #fff;
    display: flex;
}